*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.375rem;
  padding: 0 2rem;

  .logo {
    width: 120px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
  }

  .links {
    display: flex;
    align-items: center;
    list-style: none;
    border-radius: 4px;
    outline: 1px solid #ccc;
    overflow: hidden;

    &-item {
      align-items: stretch;
      background-color: white;
      padding: 0.5rem;
      cursor: pointer;
      margin: 0;
    }

    &-item:hover {
      background-color: rgb(240, 240, 240);
    }

    &-item:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  }
}

main {
  background-color: antiquewhite;
  height: calc(100vh - 4.375rem);
  display: flex;
  align-items: center;

  .upload-container {
    margin-left: 5rem;
    background-color: white;
    width: 275px;
    padding-bottom: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .divider {
      width: 90%;
      height: 1px;
      margin: 0 auto;
      background-color: #ccc;
      opacity: 0.7;
    }

    .add-files.active {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 1rem;

      .files-con {
        height: 150px;
        width: calc(100% - 1rem);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: .3em;
        overflow: auto;

        .filename {
          background-color: rgb(248, 248, 248);
          padding: 0.5rem;
          width: 100%;
          border-radius: 4px;
        }
      }

      /* Custom scrollbar */
        .files-con::-webkit-scrollbar {
          width: 5px;
        }
        .files-con::-webkit-scrollbar-track {
          background: rgb(238, 238, 238);      
        }
        .files-con::-webkit-scrollbar-thumb {
          border-radius: 20px;
          border: 3px solid rgb(63, 63, 63);
        }
      /* Custom scrollbar */

      .wrapper {
        justify-content: flex-start;

        flex-direction: row;
        padding: 0 1.5rem;
      }
    }

    .add-files {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .wrapper {
        width: 100%;
        padding: 3rem 1.5rem;
        gap: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input[type="file"] {
          position: absolute;
          inset: 0;
          cursor: pointer;
          opacity: 0;
        }
        input[type="file"]::-webkit-file-upload-button {
          visibility: hidden;
        }
        input[type="file"]:hover ~ .add-button {
          background-color: rgba(50 132 255 / 1);
        }

        .add-button {
          pointer-events: none;
          user-select: none;

          width: 2.5rem;
          aspect-ratio: 1 / 1;

          display: grid;
          place-items: center;

          color: #fff;
          background-color: rgba(50 132 255 / 0.8);
          font-size: 1.5rem;
          font-weight: bold;

          border-radius: 50%;
          z-index: 2;
        }

        .input-text {
          text-align: center;
          pointer-events: none;

          p {
            font-size: 0.8rem;
            opacity: 0.8;
          }
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;

      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      input:focus::placeholder,
      textarea:focus::placeholder {
        opacity: 0;
      }

      input,
      textarea {
        width: 100%;
        padding: 1rem;
        border: 0;
        outline: 0;
        resize: none;
      }
    }

    .error-text {
      margin: 0 auto;
      color: red;
      font-style: italic;
    }

    .link-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0 auto;

      a {
        padding: 1rem;
        border: 1px solid #ccc;
        background-color: transparent;
        width: 90%;
        font-size: 12px;
      }

      span {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 50%;
        transition: 0.2s background-color;

        &:hover {
          background-color: rgb(220, 220, 220);
        }
      }
    }

    button {
      width: 60%;
      margin-inline: auto;
      padding: 0.75rem 1rem;
      background-color: rgba(50 132 255 / 0.8);
      border: none;
      border-radius: 2rem;
      color: #fff;
      font-size: 1rem;
    }

    button:disabled {
      cursor: not-allowed;
      background-color: #ccc;
    }

    button:hover:enabled {
      cursor: pointer;
      background-color: rgba(50 132 255 / 1);
    }
  }
}
